/*CSS for game.html*/

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../images/samurai_woman_dressico.jpg")!important;
    background-size: cover;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

html,
body {
  height: 100%;
}


h1 {
  color: #f60d38!important;
  font-size: xx-large!important;
  margin-bottom: 8px; 
}


.form-game {
    background-color: rgb(245 245 245 / 95%);
    max-width: 500px;
    padding: 15px;
    border-radius: 8%;
}

.game-board{ 
    display: grid;
    grid-template-columns: 120px 120px 120px 120px; 
    grid-template-rows: 120px 120px 120px 120px 20px;
    justify-content: center;
    margin-top: 3em;
}


.correct{
    -webkit-text-stroke: 1px black;
    color: #15f60d;
    display: inline-block;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0rem;
}


.wrong{
    -webkit-text-stroke: 1px black;
    color: #f60d38;
    display: inline-block;
    font-size: x-large;
    font-weight: bolder;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

.botonesJuegoLeft{
    display: grid;
    border-radius: 0.5rem; 
    justify-content: left;
    
}

.botonesJuegoRight{
    display: grid;
    border-radius: 0.5rem;
    justify-content: right;
}

.botonJuego{
    width: 100%;
    margin: 11px;
    color: #fff;
    border-color: #212529;
    background: #f60d38;
    padding: 8px;    
    border-radius: 2.5rem;
    line-height: 0.5;
    font-size: 1.25rem;
    transition: all .2s ease;
    
}

.botonJuego:hover {
    background: #212529;
    border-color: #f60d38;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
  
.botonJuego:active {
    background: #FFCCCC;
    border: 0;
    transition: all .2s ease;
}

/*study.html*/

.botonesStudy{
    margin-right: 22px;
}