/*CSS for game.html*/

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../images/hajimenoippo.jpg")!important;
    background-size: cover;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

html,
body {
  height: 100%;
}


h1 {
  color: #f60d38!important;
  font-size: xx-large!important;
  margin-bottom: 8px; 
}

.h5, h5{
    font-size: 1rem;
    font-family: 'Permanent Marker', cursive;
}

.p, p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.strong {
    font-weight: bolder;
    color: darkred!important;
}

.form-game {
    background-color: rgb(245 245 245 / 95%);
    max-width: 500px;
    padding: 15px;
    border-radius: 8%;
}

.game-board{ 
    display: grid;
    grid-template-columns: 120px 120px 120px 120px; 
    grid-template-rows: 120px 120px 120px 120px 20px;
    justify-content: center;
    margin-top: 3em;
}


.fails{
    color: darkred;
    display: inline-block;
    font-size: 1em;
    font-weight: bolder;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 0.8rem;
}


.Logout{
    color: #000000;
    display: inline-block;
    font-size: 0.9rem;
    text-decoration: none;
}
  
.Logout:hover{
    color: #0313f3;
    font-weight: bold;
}


/*FLASHCARDS*/

.flashcard-section{
    width: 265px;
    height: 330px;
    border: 0.8px solid black;
    border-radius: 38px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 4px solid blue;
    border-right: 2px solid blue;
    overflow: hidden;
    background-color: rgb(38 38 38 / 95%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#flashcards {
    text-align: center;
    padding: 20px;
}

#flashcards img {
    max-height: 68%;
    max-width: 88%;
    margin-bottom: 10px;
    overflow: hidden;
}

#flashcards h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: ghostwhite;
  margin-bottom: 10px;
  width: max-content;
}

#flashcards h3 span {
    color: #0dd3f6;
}

#flashcards p {
  font-size: 16px;
  line-height: 1.5;
  color: blanchedalmond;
}

.buttonsGameLeft{
    position: fixed;
    display: grid;
    border-radius: 0.5rem; 
    justify-content: left;
}

.buttonsGameRight{
    position: fixed;
    display: grid;
    border-radius: 0.5rem;
    justify-content: right;
}

.buttonGame{
    width: 80%;
    height: 65%;
    margin: 11px!important;
    color: #f39c12;
    border-color: #212529;
    background: rgb(245 245 245 / 95%);
    padding: 8px;    
    border-radius: 0.5rem;
    line-height: 0.5;
    font-size: 1.25rem;
    text-align: center; 
    display:table-cell;
    vertical-align:middle;
    transition: all .2s ease;
}

.buttonGame:hover {
    background: #212529;
    border-color: #0d7af6;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
  
.buttonGame:active {
    background: #0dd3f6;
    border: 0;
    transition: all .2s ease;
}

.boxEnd {  
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.exit-btn {
    width: 61%;
    height: 37%;
    margin-left: 1.5rem;
    margin-bottom: 0;
    color: #fff;
    border: 0.15rem solid #212529;
    background: #f60d38;
    padding: 3px;
    border-radius: 0.5rem;
    text-decoration: none;
    line-height: 1.5;
    font-size: 1.25rem;
    transition: all .2s ease;
}

.exit-btn:hover {
    background: #212529;
    border: 0.15rem solid #f60d38;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}
  
.exit-btn:active {
    background: #ffcccc;
    border: 0;
    transition: all .2s ease;
}


/*study.html*/

.flow-btn {
    display: inline-block;
    color: blue;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}
  
.flow-btn:hover {
    font-size: 24px;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}
  
.nav-menu {
    display: flex;
    overflow-x: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.nav-menu li {
    padding: 5px;
    cursor: pointer;
}
  
.nav-menu li.active,
.nav-menu li.visible {
    display: block;
    background-color: #ccc;
} 
  
.nav-menu li.hidden {
    display: none;
}
  
.nav-arrow {
    font-size: 30px;
    cursor: pointer;
}
    
  
.content {
    display: none;
}
  
.content.active {
    display: block;
}

/*Fails*/


.flashcard-place{
    width: 265px;
    height: 330px;
    border: 4px solid rgb(38 38 38 / 95%);
    border-radius: 38px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 6px solid rgb(38 38 38 / 95%);
    border-right: 5px solid rgb(38 38 38 / 95%);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navArrow-fails {
    font-size: 106px;
    cursor: pointer;
    margin-top: -4rem;
    margin-left: 3rem;
}