/* This is the CSS code for the Index*/
html,
body {
  height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("../images/samurai_woman_dressico.jpg")!important;
    background-size: cover;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}


h1{
  color: #f60d38!important;
  font-size: xx-large!important;
  margin-bottom: 8px; 
}


.form-signin {
  background-color: rgb(245 245 245 / 95%);  
  max-width: 330px;
  padding: 15px;
  border-radius: 8%;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin-modified input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.Forgot{
  color: #f60d38;
  display: inline-block;
  font-size: 0.9rem;
  text-decoration: none;
}

.Forgot:hover{
  color: #020202;
  font-weight: bold;
}

.account{
  display: inline-flex;
  gap: 8px;
}

.Register{
  color: #f60d38;
  font-size: 0.9rem;
  text-decoration: none;
}

.Register:hover{
  color: #020202;
  font-weight: bold;
}

.GoogleButton{
  display: flex;
  justify-content: center;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-white-rgb),var(--bs-bg-opacity))!important;
  gap: 4px;
  margin-top: 1rem!important;
  padding-block: 7px;
  border-radius: 13px;
  margin-bottom: 21px;
}

.GoogleButton:hover{
  border-radius: 2.5em;
  background-color: #ffc107!important;
}

/*forgot.html*/

.Recover{
  margin-bottom: -0.5rem;
  font-size: 28px!important;
}

.form-recover {
  background-color: rgb(245 245 245 / 95%);  
  max-width: 330px;
  padding: 15px;
  border-radius: 8%;
}

.form-recover input[type="email"] {
  margin-bottom: 2px;
}

.Enter{
  font-size: 0.9rem;
}

.botones{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 23px;
}

.index_p{
  margin-top: 1rem;
  margin-bottom: -0.5rem;
}


.index_a:hover:after{
  content: "行くよ！";
  -webkit-text-stroke: 2px black;
  color: #15f60d;
  display: inline-block;
  font-size: x-large;
  font-weight: bolder;
  padding-left: 0.5em;
}


/*register.html*/

.infoPerson{
  display: flex;
  flex-direction: column;
  margin-bottom: -60px;
}


.nacimiento_p{
  display: flex;
  flex-direction: row;
  font-size: smaller;
  margin-bottom: 0.5rem;
}

.nacimiento{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.politiqueos{
  display: flex;
  margin-top: 7px;
  margin-bottom: 1rem;
  font-size: xx-small;
  flex-wrap: wrap;
  margin-left: 30px;
}

.select-info{
  border-radius: 6px;
  display: inline-block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
}

.AlvaRonin{
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color)!important;
  margin-bottom: 1rem!important;
}


