{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/game.css'%}">
    <link rel="icon" href="{% static 'images/boxglove.png'%}">
    <title>Play to Learn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script defer src="scriptgame.js"></script>
</head>
<body class="text-center">  

    <main class="form-game w-100 m-auto">
        <form method="GET" action="{% url 'game' %}">
            <h1 style="margin-bottom: 0.5rem;"> Japanese Particles Quiz</h1>
            <p>Let's test your skills. がんばって!</p>
            
            <div class= "game-board">
                <div class="box">
                    <h5 style="font-size: 1rem;
                    font-family: 'Permanent Marker', cursive;">ROUND <br>{{current_round}}</h5>
                    <h6>Score</h6>
                    <p class="correct">Correct: <br>{{score}}</p>
                </div>

                <div class="box">      
                    {% for flashcard in flashcards %}              
                    <div class="flashcard-section">
                        <div id="flashcards">
                            <img src="{{ flashcard.image.url }}" alt="Dynamic image">                   
                            <!--h3>わたし <span>_</span> 学生です。<h3-->
                            <h3> 
                            {% for word in flashcard.japanese_sentence.split %}
                                {% if word == flashcard.particle %}
                                    <span>_</span>
                                {% else %}
                                    {{ word }}
                                {% endif %}
                            {% endfor %}
                            </h3>
                            <p>{{ flashcard.english_meaning }}</p>
                        </div>                
                    </div>
                    {% endfor %}
                </div>


                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="boxEnd">
                    <a href='/study' data-replace="study" class="flow-btn"><p><span>Study</span></p></a>   
                    <a href='/upload' data-replace="upload" class="flow-btn"><p><span>Upload</span></p></a>  
                    <a href="/" class="exit-btn">Exit</a>
                </div>
                
                <div class="box" style="display: flex; justify-content: flex-end;">
                    <div class="botonesJuegoLeft">
                        <button class="botonJuego" id="word1" onclick="incrementScore('{{err1}}')">{{err1}}</p>
                        <button class="botonJuego" id="word2" onclick="incrementScore('{{err2}}')">{{err2}}</p>
                    </div>
                </div>
                <div class="box">
                    <div class="botonesJuegoRight">
                        <button class="botonJuego"id="word3" onclick="incrementScore('{{err3}}')">{{err3}}</p>
                        <button class="botonJuego" id="word4" onclick="incrementScore('{{wins}}')">{{wins}}</p>
                    </div>
                </div>
                <div class="box"></div>
            </div> 
            <p class="AlvaRonin">&copy; AlvaRonin 2023</p>
        </form>
    </main>
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
/*  Your JavaScript code */
   
    var sessionId = getParameterByName("sessionId");

    function getParameterByName(name, url) {
      if (!url) url = window.location.href;
      name = name.replace(/[\[\]]/g, "\\$&");
      var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
          results = regex.exec(url);
      if (!results) return null;
      if (!results[2]) return '';
      return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    
    
    function incrementScore(selectedWord) {
        console.log('Incrementando Score')
        console.log(selectedWord)
        //let href = '/game/?selected_word=' + selectedWord
        let href = '/game/?selected_word=' + selectedWord
        console.log(href)
        window.location.href = href
        window.alert(href)
    }
    </script>
</body>
</html>
